{% extends 'base.html' %}
<div class="container">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% block contents %}



        <!-- Default panel contents -->
        
        <h3>자유 게시판</h3><hr /><br />
      
        <!-- Table -->
        <table class="table">
          <tr>
              <th>title</th>
              <th>contents</th>
              <th>pub_date</th>
          </tr>
          {%for blog in posts%}
          <tr>
              <td>{{blog.title}}</td>
              <td>{{blog.summary}} <a href="{%url 'detail' blog.id%}">...more</a></td>
              <td>{{blog.pub_date}}</td>
          
          </tr>
          {%endfor%}
        </table>
   
{# first previous 3of4 next  last #}

<div classs="container">

  {%if posts.has_previous%}
  <a href="?page=1">First</a>
  <a href="?page={{posts.previous_page_number}}">Previous</a>
  {%endif%}
  <span>{{posts.number}}</span>
  <span>of</span>
  <span>{{posts.paginator.num_pages}}</span>

  {%if posts.has_next%}
  <a href="?page={{posts.next_page_number}}">Next</a>
  <a href="?page={{posts.paginator.num_pages}}">Last</a>
  {%endif%}
</div>
{% endblock %}